
h1{
    color: blue;
    text-align: center;
}
.flexWrapper{

    display: flex;
    justify-content: center;
    flex-flow: column;
    
}
.flexWrapper > iframe:nth-child(2){

    align-self: center;
}